*{
    margin: 0px;
    padding: 0px;
    

}

.forgot{
    display: flex;
    flex-direction: row;
    position: absolute;

}
.container{
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: centre;
    background-color:#F0EEED;
    height: 100vh;
    width: auto 0 auto 0;

}
.container2{
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: centre;
    background-color:#F0EEED;
    height: 100vh;
    width: auto 0 auto 0;

}
.parent {
    margin: auto;
    padding-top: 20px;
    align-items: center;
    justify-content: centre;
}
.parent h3{
    padding-bottom: 10px;
}
.forgot p{
    padding-right: 10px;;
}
.btn{
    position: absolute;
    top: 60px;
    right:30%;
       
}
.login{
    display: flex;
    flex-direction: column;
}

.together{
    display:inline-flex;
}
.together p{
    margin:3px;
    padding-right: 7px;
}
.down{
    padding-top: 20px;
}

.login button{

}