/* h1{
    color: blueviolet;
} */

p,a{
    color: cornflowerblue;
}

/* a{
    color: fuchsia;
} */

/* for all the li items */
li{
    list-style-type:georgian;
    right: 40cm;
    
}

.special{           /*class name*/
    color:bisque;
    font-weight: 800;
}
/* specially for one */

h1.special,li.special{  
    color:cadetblue;
}

li em{
    color: gold;
}

a:hover{
    color: rgb(123, 75, 59);
    text-decoration: none;
}
a:visited{
    color:rgb(88, 38, 38)
}

li[class]{
    font-size: 200%;
}

li[class~=a]{
    font-size: 300%;
}

p::first-line{
    color: aquamarine;
}

#first,#second{
    color: blue;
}
#third{
    color: darkcyan;
}

.highlight,.purple{
    color: deeppink;
}

/* nesting of selectors  in id second find h2 and change color */
#second>h2{
    color: lime !important;
}
/* importatnt make no changes to that specific */
#second>p>span{
    color: orange;
}

h2{
    color:brown;
}