.navbar h3{
    text-transform: uppercase;
    text-align: center;
    color: blue;
}

.navbar a:hover{
    color: blue;
}
.navbar ul{
    text-align: right;
    background-color:lightyellow;
}
.navbar li{
    display:inline-block;
    
}
.navbar a{
    display:block;
    padding:0px 0px;
}
body{
    background-color:white;
}
.navbar ul>img{
    float: left;
    
    padding: 0;
    margin: 0;
}
.navbar p{
    text-align: center;
}
#side{
    text-align: right;
}

.navbar article,aside{
    width: 30%;
  padding-left: 15px;
  margin-left: 15%;
  float: left;
  font-style: italic;
  background-color:bisque;
  color: black;
}

.none form{
    float:left;
    margin: 10%;
    margin-top: 0%;

}
.none ul{
    background-color: white;
}
.none li{
    display:inline-block;
   
}