@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;900&display=swap');
@import "colors";
@import "Header";
@import "Home";




*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: $primary;
    color: $tertiary;
}