@import "colors";

nav{
    background-color: $secondary;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    
    > h2{
        text-transform: uppercase;
        color: $primary;
    }
    >div{
        display: flex;
        align-items: center;
        margin: 0 1rem;

        >a{
            color: $primary;
            font-size: 1.2rem;
            margin: 0 1rem;
            transition: all 0.3s;
            display:flex;
            &:hover{
                opacity: 0.5;
            }

            > p{
                position: absolute;
                top: 1.6rem;
                right: 3.7rem;
                background-color: $tertiary;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                font: 900 0.7rem "Poppins";
                display: grid;
                place-items: center;
            }
        }
    }
}